[SUB]
UPPER_FS = 18
BOTTOM_FS = 12

[FILE]
TV_EPISODE_PATTERN = S\d\dE\d\d
NEW_SUB_EXTENSION = .zh.ass
MEDIA_FILE_EXTENSIONS = [".mkv", ".mp4"]
EXTRACT_PATTERN = 简体&英文.ass

[SSH]
SSH_CONFIG_HOSTNAME = home